.loadingDialogDiv {
    text-align: center;
    margin-top: 150px;
}

.loadingDialogDiv button {
    width: 45%;
}

.testForm {
    padding: 10px;
}

textarea {
    width: 100%;
}



/** Carousel css, taken from http://lab.cubiq.org/iscroll5/demos/carousel/ */

#carouselViewport {
	position: relative;
	width: 320px;
	height: 240px;
	margin: 0 auto;
	background: #aaa;
	overflow: hidden;
}

#carouselWrapper {
	width: 200px;
	height: 240px;
	margin: 0 auto;
}

#carouselWrapper .scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 800px;
	height: 240px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	background-color: #aaa;
}

.slide {
	width: 200px;
	height: 240px;
	float: left;
}

.painting {
	width: 140px;
	height: 200px;
	border-radius: 10px;
	margin: 20px auto;
	border: 1px solid #000;
	box-shadow:
		inset 2px 2px 6px rgba(255,255,255,0.6),
		inset -2px -2px 6px rgba(0,0,0,0.6),
		0 1px 8px rgba(0,0,0,0.8);
}

.kitten1 {
	background: url(http://placekitten.com/140/200);
}

.kitten2 {
	background: url(http://placekitten.com/145/200);
}

.kitten3 {
	background: url(http://placekitten.com/150/200);
}

.kitten4 {
	background: url(http://placekitten.com/140/205);
}

#carouselIndicator {
	position: relative;
	width: 110px;
	height: 20px;
	margin: 10px auto;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUGCDYztyDUJgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAGFBMVEUAAADNzc3Nzc3Nzc3Nzc3Nzc3Nzc3///8aWwwLAAAABnRSTlMAX5Ks3/nRD0HIAAAAAWJLR0QHFmGI6wAAAFtJREFUGFdjYGBgEHYNMWRAAJE0IHCEc5nSwEABxleD8JOgXMY0KBCA8FlgfAcIXwzGT4TwzWD8ZAjfDcZPgfDDYPxU7Hx09ejmoduH7h5096L7B8O/6OGBGl4APYg8TQ0XAScAAAAASUVORK5CYII=);
}

#carouselDotty {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #777;
}

.menu-item {
    cursor: pointer;

    /* font-size: 14pt; */

    line-height: 17pt;
    padding: 5px 10px;
}

ul.photo-gallery {
	list-style: none;		
	padding: 0px;
	/* margin: 0px; */
}

.photoClass {
    width: 32.7%;	
    height: 0;
    padding-bottom: 33%;
    display: inline-block;
    background-color: #fff;
    box-sizing: border-box;
    border: 4px solid #dfe2e2;
}
