body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.btn-git {
    color: #FFF;
    padding: 10px 15px 10px 50px ;
    margin: 5px 20px 0 0;
    background-color: #18BC9C;  
    border-color: #128F76;
}

#download-zip {
  background: #18BC9C url(../images/zip-icon.png) 12px 50% no-repeat;
}
#download-tar-gz {
  background: #18BC9C url(../images/tar-gz-icon.png) 12px 50% no-repeat;
}
#view-on-github {
  background: #18BC9C url(../images/octocat-icon.png) 12px 50% no-repeat;
}

#downloads {
    text-align: right;
}

.main-container {
    margin: 10px 50px 50px;
}

code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    display: block;
    white-space: pre;
    margin: 1em 0px;
    background-color: #F8F8F8;
    border: 1px solid #DDD;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    color: #333;
}