<div data-role="dialog" id="info">
    <div class="topcoat-touch-dialog">
        <div class="topcoat-touch-header">
            <h1>Info</h1>
        </div>

        <div class="topcoat-touch-dialog-content">
            <div class="scrollable" style="height:300px"> 
                <div>
Bacon ipsum dolor sit amet cow tenderloin fatback bacon, ham tail boudin jerky tri-tip pork ball tip chuck. Leberkas swine tri-tip jowl bacon. Brisket bresaola chuck beef ribs chicken leberkas tenderloin jerky tail ball tip biltong. Ham hock jowl frankfurter kevin pastrami strip steak. Pork chop hamburger pancetta, pork chicken tail ball tip venison.

Ground round landjaeger drumstick turducken, meatloaf kielbasa biltong pig t-bone ribeye fatback corned beef. Bacon corned beef chicken pastrami swine t-bone meatball hamburger short ribs pig spare ribs tenderloin ball tip kevin boudin. Sirloin rump boudin, bacon chicken kielbasa andouille. Salami chicken pork loin, pancetta t-bone beef brisket rump fatback drumstick porchetta ribeye cow. Pig short loin prosciutto porchetta, frankfurter pork chop rump t-bone ham kielbasa meatball pork loin meatloaf leberkas.

Salami prosciutto bacon kevin. Prosciutto kielbasa chicken ribeye biltong pork ground round shoulder cow. Beef ribs tri-tip t-bone porchetta tongue chicken ribeye frankfurter hamburger shankle brisket jowl short ribs. Pork chop short ribs pork loin, beef ribs hamburger salami strip steak sausage ball tip tenderloin. Shoulder filet mignon leberkas landjaeger shankle salami pork loin.

Chicken beef ribs pancetta short loin salami kielbasa kevin short ribs strip steak brisket meatball turducken ground round filet mignon spare ribs. Shankle meatloaf doner shank andouille pork loin biltong, sirloin spare ribs beef ribs beef. Flank venison t-bone, fatback bresaola short ribs chicken pancetta hamburger rump ball tip sirloin. Fatback corned beef leberkas short ribs, flank filet mignon tenderloin pig cow meatball kevin pancetta landjaeger ham hock pork chop.

Strip steak hamburger capicola, pork chop chicken short ribs pork belly turducken shoulder fatback pastrami pancetta chuck drumstick. Tenderloin pastrami kevin rump spare ribs. Boudin swine rump cow turducken pork chop. Pastrami rump pork loin, brisket landjaeger tenderloin boudin ham hock shankle shank pork belly. Fatback ham hock capicola brisket.
                </div>
            </div>

            <div class="topcoat-touch-grid  buttons">
                <div class="half">
                    <button class="topcoat-button">Cancel</button>
                </div>
                <div class="half">
                    <button class="topcoat-button--cta">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>