<div id="page2">
    <div class="content">
        <h1 id="headerTitle"><%- title %></h1>
        <ul id="list">
        <% _.each(list, function(val, key) { %>
            <li id="<%- key %>"><%- val %></li>
        <% }); %>
        </ul>
    </div>
</div>