<div data-role="dialog" id="about">
    <div class="topcoat-touch-dialog">
        <div class="topcoat-touch-header">
            <h1>About</h1>
        </div>

        <div class="topcoat-touch-dialog-content">
            <div>
                <h2>Topcoat Touch</h2>

                <p>A very simple mobile framework based on the Topcoat Framework. Inspired by the jQT framework. Can be
                    used either with a single html document with multiple pages, or using a collection of controllers and templates.</p>

                <p>Topcoat Touch uses jQuery (or Zepto), fastclick, iscroll, hammerjs, and lodash</p>

            </div>

            <div class="topcoat-touch-grid  buttons">
                <div class="half">
                    <button class="topcoat-button">Cancel</button>
                </div>
                <div class="half">
                    <button class="topcoat-button--cta">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>