<div id="buttonExample">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button">
                <!-- elements with the class back-button automatically go back on click -->
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Buttons</h1>
        </div>
    </div>
    <div class="content scrollable">
        <form class="testForm" method="post" action="#">

            <h3>Button Bar</h3>

            <div class="topcoat-button-bar">
                <div class="topcoat-button-bar__item">
                    <button class="topcoat-button-bar__button">One</button>
                </div>
                <div class="topcoat-button-bar__item">
                    <button class="topcoat-button-bar__button">Two</button>
                </div>
                <div class="topcoat-button-bar__item">
                    <button class="topcoat-button-bar__button">Three</button>
                </div>
            </div>

            <h3>Large Button Bar</h3>

            <div class="topcoat-button-bar">
                <div class="topcoat-button-bar__item">
                    <button class="topcoat-button-bar__button--large">One</button>
                </div>
                <div class="topcoat-button-bar__item">
                    <button class="topcoat-button-bar__button--large">Two</button>
                </div>
                <div class="topcoat-button-bar__item">
                    <button class="topcoat-button-bar__button--large">Three</button>
                </div>
            </div>

            <h3>Tab bar</h3>

            <div class="topcoat-tab-bar">
                <label class="topcoat-tab-bar__item">
                    <input type="radio" name="tab-bar">
                    <button class="topcoat-tab-bar__button">One</button>
                </label>
                <label class="topcoat-tab-bar__item">
                    <input type="radio" name="tab-bar">
                    <button class="topcoat-tab-bar__button">Two</button>
                </label>
                <label class="topcoat-tab-bar__item">
                    <input type="radio" name="tab-bar">
                    <button class="topcoat-tab-bar__button">Three</button>
                </label>
            </div>

            <h3>Button</h3>
            <button class="topcoat-button">Button</button>
            <button class="topcoat-button" disabled>Button</button>

            <h3>Quiet Button</h3>
            <button class="topcoat-button--quiet">Button</button>
            <button class="topcoat-button--quiet" disabled>Button</button>


            <h3>Large Button</h3>
            <button class="topcoat-button--large">Button</button>
            <button class="topcoat-button--large" disabled>Button</button>

            <h3>Large Quiet Button</h3>
            <button class="topcoat-button--large--quiet">Button</button>
            <button class="topcoat-button--large--quiet" disabled>Button</button>

            <h3>Large Call To Action Button</h3>
            <button class="topcoat-button--large--cta">Button</button>
            <button class="topcoat-button--large--cta" disabled>Button</button>


            <h3>Small Button</h3>
            <button class="topcoat-button button-small">Button</button>
            <button class="topcoat-button button-small" disabled>Button</button>

            <h3>Small Quiet Button</h3>
            <button class="topcoat-button--quiet button-small">Button</button>
            <button class="topcoat-button--quiet button-small" disabled>Button</button>

            <h3>Small Call To Action Button</h3>
            <button class="topcoat-button--cta button-small">Button</button>
            <button class="topcoat-button--cta button--small" disabled>Button</button>
        </form>
    </div>
</div>