<div id="carouselExample">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Photos</h1>
        </div>
    </div>
    <!-- Carousel Example taken from: http://lab.cubiq.org/iscroll5/demos/carousel/, see app.js for how to do this... -->
    <div id="carouselViewport">
        <div id="carouselWrapper">
            <div class="scroller">
                <div class="slide">
                    <div class="painting kitten1"></div>
                </div>
                <div class="slide">
                    <div class="painting kitten2"></div>
                </div>
                <div class="slide">
                    <div class="painting kitten3"></div>
                </div>
                <div class="slide">
                    <div class="painting kitten4"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="carouselIndicator">
        <div id="carouselDotty"></div>
    </div>
</div>