<div id="checkRadioExample">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Check/Radio</h1>
        </div>
    </div>
    <div class="content scrollable">
        <form class="testForm" method="post" action="#">
            <h3>Checkbox</h3>
            <label class="topcoat-checkbox">
                <input type="checkbox">

                <div class="topcoat-checkbox__checkmark"></div>
                Default
            </label>
            <br>
            <br>
            <label class="topcoat-checkbox">
                <input type="checkbox" disabled>

                <div class="topcoat-checkbox__checkmark"></div>
                Disabled
            </label>

            <h3>Icon Button</h3>
            <button class="topcoat-icon-button">
                <span class="topcoat-icon" style="background-color:#A5A7A7;"></span>
            </button>
            <button class="topcoat-icon-button" disabled>
                <span class="topcoat-icon" style="background-color:#A5A7A7;"></span>
            </button>

            <h3>Quiet Icon Button</h3>
            <button class="topcoat-icon-button--quiet">
                <span class="topcoat-icon" style="background-color:#A5A7A7;"></span>
            </button>
            <button class="topcoat-icon-button--quiet" disabled>
                <span class="topcoat-icon" style="background-color:#A5A7A7;"></span>
            </button>

            <h3>Large Icon Button</h3>
            <button class="topcoat-icon-button--large">
                <span class="topcoat-icon--large" style="background-color:#A5A7A7;"></span>
            </button>
            <button class="topcoat-icon-button--large" disabled>
                <span class="topcoat-icon--large" style="background-color:#A5A7A7;"></span>
            </button>

            <h3>Large Quiet Icon Button</h3>
            <button class="topcoat-icon-button--large--quiet">
                <span class="topcoat-icon--large" style="background-color:#A5A7A7;"></span>
            </button>
            <button class="topcoat-icon-button--large--quiet" disabled>
                <span class="topcoat-icon--large" style="background-color:#A5A7A7;"></span>
            </button>

            <h3>Radio Button</h3>
            <!-- NO LABEL -->
            <label class="topcoat-radio-button">
                <input type="radio" name="topcoat">

                <div class="topcoat-radio-button__checkmark"></div>
            </label>
            <br>
            <br>
            <!-- LEFT LABEL -->
            <label class="topcoat-radio-button">
                Left label
                <input type="radio" name="topcoat">

                <div class="topcoat-radio-button__checkmark"></div>
            </label>
            <br>
            <br>
            <!-- RIGHT LABEL -->
            <label class="topcoat-radio-button">
                <input type="radio" name="topcoat">

                <div class="topcoat-radio-button__checkmark"></div>
                Right label
            </label>
            <br>
            <br>
            <!-- DISABLED -->
            <label class="topcoat-radio-button">
                <input type="radio" name="topcoat" Disabled>

                <div class="topcoat-radio-button__checkmark"></div>
                Disabled
            </label>

            <h3>Switch</h3>
            <label class="topcoat-switch">
                <input type="checkbox" class="topcoat-switch__input">

                <div class="topcoat-switch__toggle"></div>
            </label>
            <br>
            <br>
            <label class="topcoat-switch">
                <input type="checkbox" class="topcoat-switch__input" checked>

                <div class="topcoat-switch__toggle"></div>
            </label>
            <br>
            <br>
            <label class="topcoat-switch">
                <input type="checkbox" class="topcoat-switch__input" disabled>

                <div class="topcoat-switch__toggle"></div>
            </label>

        </form>
    </div>
</div>