<div id="formExample">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Form Elements</h1>
        </div>
    </div>
    <div class="content scrollable">
        <form class="testForm" method="post" action="#">

            <h3>Notification</h3>
            <span class="topcoat-notification">1</span>

            <h3>Range Slider</h3>

            <p><input type="range" class="topcoat-range"> &nbsp; <input type="range" class="topcoat-range" disabled></p>

            <h3>Search Input</h3>

            <p><input type="search" value="" placeholder="search" class="topcoat-search-input"></p>

            <p><input type="search" value="" placeholder="search disabled" class="topcoat-search-input" disabled></p>

            <h3>Large Search</h3>

            <p><input type="search" value="" placeholder="search" class="topcoat-search-input--large"></p>

            <p><input type="search" value="" placeholder="search disabled" class="topcoat-search-input--large" disabled>
            </p>


            <h3>Text Input</h3>

            <p><input type="text" class="topcoat-text-input" placeholder="text" value=""></p>

            <p><input type="text" class="topcoat-text-input" placeholder="text" value="" disabled></p>

            <p><input type="text" class="topcoat-text-input" placeholder="text" value="fail" pattern="not-fail"></p>

            <h3>Large Text Input</h3>

            <p><input type="text" class="topcoat-text-input--large" placeholder="text" value=""></p>

            <p><input type="text" class="topcoat-text-input--large" placeholder="text" value="" disabled></p>

            <p><input type="text" class="topcoat-text-input--large" placeholder="text" value="fail" pattern="not-fail">
            </p>

            <h3>Textarea</h3>

            <p><textarea class="topcoat-textarea" rows="6" cols="36" placeholder="Textarea"></textarea></p>

            <p><textarea class="topcoat-textarea" rows="6" cols="36" placeholder="Textarea" disabled></textarea></p>

            <h3>Large Textarea</h3>

            <p><textarea class="topcoat-textarea--large" rows="6" cols="36" placeholder="Textarea"></textarea></p>

            <p><textarea class="topcoat-textarea--large" rows="6" cols="36" placeholder="Textarea" disabled></textarea>
            </p>

        </form>
    </div>
</div>