<div id="home">
    <div class="topcoat-navigation-bar"> <!-- Navigation bar -->
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet side-drawer-toggle">
                <span class="topcoat-icon topcoat-icon--menu-stack"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Topcoat Touch</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <a class="topcoat-icon-button--quiet menu-button">
                <span class="topcoat-icon topcoat-icon--menu-stack"></span>
            </a>
        </div>
    </div>
    <div class="content scrollable"> <!-- containers with the class scrollable are automatically hooked into iscroll -->
        <div class="topcoat-list__container">
            <ul id="demoList" class="topcoat-list list">
                <!-- setting the data-rel means that when that element is clicked it goes to the page in the data-rel -->
                <li class="topcoat-list__item" data-rel="buttonExample">
                    <span class="formItem">Buttons</span><span class="chevron"></span><span class="count"></span>
                </li>
                <li class="topcoat-list__item" data-rel="checkRadioExample">
                    <span class="formItem">Check/Radio Example</span><span class="chevron"></span><span
                        class="count"></span>
                </li>
                <li class="topcoat-list__item" data-rel="formExample">
                    <span class="formItem">Form Example</span><span class="chevron"></span><span class="count"></span>
                </li>
                <li class="topcoat-list__item" data-rel="waitingDialogExample">
                    <span class="formItem">Waiting/Dialog Example</span><span class="chevron"></span><span
                        class="count"></span>
                </li>
                <li class="topcoat-list__item" data-rel="galleryExample">
                    <span class="formItem">Gallery Example</span><span class="chevron"></span><span
                        class="count"></span>
                </li>
                <li class="topcoat-list__item" data-rel="carouselExample">
                    <span class="formItem">Carousel Example</span><span class="chevron"></span><span
                        class="count"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="side-drawer">
        <div class="topcoat-list__container">
            <ul class="topcoat-list">
                <li class="topcoat-list__item">
                    <span class="formItem">List Item 1</span>
                </li>
                <li class="topcoat-list__item">
                    <span class="formItem">List Item 2</span>
                </li>
                <li class="topcoat-list__item">
                    <span class="formItem">List Item 3</span>
                </li>
                <li class="topcoat-list__item">
                    <span class="formItem">List Item 4</span>
                </li>
                <li class="topcoat-list__item">
                    <span class="formItem">List Item 5</span>
                </li>
                <li class="topcoat-list__item">
                    <span class="formItem">List Item 6</span>
                </li>
            </ul>
        </div>
    </div>
</div>