<div id="waitingDialogExample">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Waiting/Dialog Example</h1>
        </div>
    </div>
    <div class="content">
        <div class="loadingDialogDiv">
            <button id="showLoading" class="topcoat-button--cta">Show Loading</button><!-- See app.js to see how these work -->
            <button id="showDialog" class="topcoat-button--cta">Show Dialog</button>
        </div>
    </div>
</div>